@media(max-width: 650px){
    .menu-top{
        flex-direction: column;
    }

    .menu{
        flex-direction: column;
        margin-top: 50px;
    }

    .logo h1{
        font-size: 40px;
    }

    .menu li{
        padding: 30px 0;
    }

    .menu li:last-child{
        margin-top: 20px;
    }

    .menu li a {
        font-size: 40px;
        padding: 17px 35px;
    }

    .menu li a.btn{
        font-size: 18px;
        padding: 15px 23px;
    }
}